html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}

.parent-container {
    display: flex;

    /* Misc */
    height: 100%;
    width: 100%;

    overflow: auto;
}

.sidebar {
    width: 200px;
}

.resize-handle {
    display: block;
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 1.5px;
}

.main {
    flex: 1;
}

/* Tell Quill not to scroll */
#quill-container {
    height: auto;
    min-height: 100%;
}
/* Specify our own scrolling container */
#scrolling-container {
    overflow-y: auto;
}

#sidebarP {
    margin: 0;
    cursor: pointer;
}

#sidebarP:hover {
    background-color: #cccccc;
    border-color: #1e1e1e;
    cursor: pointer;
}