.parent-container {
    display: flex;

    /* Misc */
    height: 100%;
    width: 100%;

    /* overflow: auto; */
}

.sidebar {
    width: 200px;
}
.resize-handle {
    display: flex;
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 1px;
}

.main {
    flex: 1;
}